
.footer{
    background-color:#000000d7;
    margin:0px auto;
    margin-top: 20px;
    padding: 20px 0px 20px 0px;
    color:#dadada;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.mid{
    background-color:#000000;
    margin-top: 0;

}
.modalheader{
    background-color: #6398d4;
    
}
#topguidedisplay{
    background-color:#ffffff;
    padding: 50px;
    align-content: center;
    text-align: center;
}
.dimmed.dimmable > .ui.animating.dimmer, .dimmed.dimmable > .ui.visible.dimmer, .ui.active.dimmer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ui.modal,
  .ui.active.modal {
    margin: 0 auto!important;
    top: 80px !important;
    left: auto !important;
    transform-origin: center !important;
    transition: all ease .5s;
  }
  .ui.card{
      margin-top:30px !important;
  }

  .PageHeader{
      margin-top: 85px !important;
      padding-left: 10px !important;

  }
  
  .guideregisterform{
      margin-left: 10px !important;
  }
  .pagesegment{
      background-color: rgb(196, 196, 196) !important;
  }



