
.footer{
    background-color:#c4c4c4d7;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
    color:#0f0f0f;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.navbar-dark {
    color:#0f0f0f;
    
}
.navitems {
    align-items: center;
    justify-content: space-around;
}
.mid{
    background-color:#ffffff;
    margin-top: 0;

}
.modalheader{
    background-color: #6398d4;
    
}





